@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Lato:400,400italic,700);
.small-caps {
  text-transform: lowercase;
  font-variant: small-caps; }

/**
 * Responsive media (images, videos…)
 *
 * 1. Give the block an initial ratio of 5/3 to avoid FOUC
 * 2. Stretch the contained media to the dimensions of its container
 */
.u-responsive-ratio {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .u-responsive-ratio iframe,
  .u-responsive-ratio embed,
  .u-responsive-ratio object,
  .u-responsive-ratio img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }
  .u-responsive-ratio.media-16by9 {
    padding-bottom: 56.25%; }
  .u-responsive-ratio.media-4by3 {
    padding-bottom: 75%; }
  .u-responsive-ratio.media-1by1 {
    padding-bottom: 100%; }

.avatar {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #CFD3D5; }

.thumb-2 {
  width: 2em;
  height: 2em; }

.thumb-5 {
  width: 5em;
  height: 5em; }

.thumb-10 {
  width: 10em;
  height: 10em; }

.u-unstyled, .inline-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.inline-list-item {
  margin-right: 10px;
  margin-bottom: 10px; }

.content-body {
  max-width: 40rem;
  font-size: 1.0625rem;
  font-size: 1.125rem;
  line-height: 1.8167; }

header {
  margin-bottom: 1.7em;
  font-size: inherit; }

h1,
h2 {
  font-size: inherit;
  margin-bottom: 1.7em; }

.meta {
  margin-top: -1.7em; }

img {
  display: block;
  margin: 1.7em auto; }

hr,
figure,
p {
  margin: 0 auto 1.7em; }

blockquote {
  margin: 1.7em 0 1.7em 1.7em;
  font-size: 0.8824em;
  line-height: 1.98799; }

hr {
  position: relative;
  width: 100%;
  border: none;
  color: inherit; }
  hr:after {
    position: absolute;
    content: '';
    border-top: 1px solid rgba(207, 211, 213, 0.8);
    width: 1.65em;
    top: 0;
    letter-spacing: 0.25rem;
    text-align: center; }

.avatar {
  display: block;
  text-align: center;
  margin: 3em auto 0.7em auto; }

.cards {
  display: flex;
  flex-flow: row wrap; }

.card {
  margin: 0 1.7em 1.7em 0;
  flex: 2 0 15rem;
  border-radius: 4px;
  border: 1px solid #CFD3D5;
  color: #9B9B9B; }
  .card .card-header a,
  .card .card-body a {
    text-decoration: none;
    background-image: none; }
  .card .card-header a {
    color: #3093FB; }
  .card .card-header {
    padding: 24px 16px; }
  .card .card-header + .card-body {
    margin-top: -24px;
    padding-top: 0; }
  .card .card-suptitle {
    color: #9B9B9B;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    position: relative;
    text-transform: uppercase; }
  .card .card-title {
    font-size: 20px;
    line-height: 28px;
    margin: 0; }
    .card .card-title a, .card .card-title a:visited {
      color: #4A4A4A; }
  .card .card-details {
    border-top: 1px solid #ccc;
    font-size: 14px;
    line-height: 24px;
    padding: 16px 16px;
    margin: 24px 0; }
    .card .card-details dt, .card .card-details dd {
      float: left; }
    .card .card-details dt {
      padding-right: 8px; }
    .card .card-details dd {
      margin: 0;
      padding-right: 16px; }

html {
  color: #9FA6AC;
  font-size: 1em;
  line-height: 1.4; }

a {
  color: #9FA6AC;
  text-decoration: none;
  transition: color 0.2s ease; }
  a:hover {
    color: #9B9B9B; }

body {
  font: 16px/26px -apple-system, 'Lato', Helvetica, Helvetica Neue, Arial;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.site-wrapper {
  position: relative;
  display: flex;
  flex-flow: column wrap; }
  .front .site-wrapper:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 100%;
    background: url("../images/bg-lovestream.svg") transparent;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1000;
    pointer-events: none; }
  .front .site-wrapper:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 100%;
    background: url("../images/bg-lovestream-burn.svg") transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -999;
    pointer-events: none; }

.logo,
.content,
.footer {
  width: 100%;
  flex: 1 auto;
  box-sizing: border-box; }

.logo {
  padding: 5% 5% 0 5%;
  font-size: 1.625rem;
  line-height: 1;
  height: 1.625rem; }
  .front .logo {
    color: rgba(255, 255, 255, 0.8); }
  .logo a {
    display: flex; }
  .logo svg {
    display: inline-block;
    margin-right: 20px; }
    html.no-js .logo svg {
      visibility: hidden; }
  .logo .m-icon {
    fill: #9FA6AC; }
  .front .logo .m-icon {
    fill: rgba(255, 255, 255, 0.8); }
  .logo a {
    color: inherit;
    text-decoration: none; }

.content {
  color: #4A4A4A;
  padding: 0 5%; }
  .front .content {
    color: #fff;
    margin-top: 10rem;
    margin-bottom: 5rem; }
  .content a {
    color: #4A4A4A;
    background-image: linear-gradient(to bottom, #4A4A4A 75%, #4A4A4A 75%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    text-decoration: none;
    background-position: 0 99.9%; }
    .front .content a {
      color: #fff;
      background-image: linear-gradient(to bottom, #fff 75%, #fff 75%); }

@media only screen and (min-width: 740px) {
  .content {
    margin-top: 5rem;
    margin-bottom: 10rem; }

  .front .content {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 30rem; }

  .post .content {
    display: flex;
    flex-flow: row nowrap; }
    .post .content .nav {
      margin-right: 10%;
      flex: 1 0 24%; }
    .post .content .content-body {
      flex: 4 1 75%;
      padding-right: 10%; }
      .post .content .content-body h1 {
        margin-top: 0; } }
@media (min-width: 1px) and (max-width: 740px) {
  .content {
    margin-top: 5rem;
    margin-bottom: 10rem; } }
.headline-list li {
  list-style: none; }

.headline-list .datetime-month,
.headline-list .datetime-day {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8); }

.headline-list .datetime-month {
  width: 3em;
  text-align: right; }

.headline-list .datetime-day {
  width: 2em;
  text-align: left;
  padding-left: 0.325em; }

.headline-list time {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.0245rem; }

.headline-list-item {
  font-size: 1.125rem;
  line-height: 1.7542; }

@media only screen and (min-width: 740px) {
  .front .log {
    flex: 4 1 75%; } }
.nav {
  font-size: 1.125rem;
  line-height: 1.4542;
  position: relative; }
  .nav p {
    margin: 0;
    padding: 0; }
  .nav:before {
    position: absolute;
    top: -1em;
    content: '';
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    width: 1.65em; }

.front .nav {
  color: #fff; }

@media (min-width: 1px) and (max-width: 740px) {
  nav {
    margin-bottom: 1.7em; } }
@media only screen and (min-width: 740px) {
  .front .nav {
    flex: 1 0 24%;
    margin-right: 10%; } }
.footer {
  padding: 3em 5%;
  background: #fff; }
  body:not(.front) .footer {
    border-top: 1px solid rgba(207, 211, 213, 0.4); }
  .footer .colophon,
  .footer .footer-list :first-child {
    font-weight: bold; }

@media only screen and (min-width: 740px) {
  .footer {
    display: flex;
    flex-flow: row nowrap; }

  .colophon {
    margin-right: 10%;
    flex: 1 0 24%; }

  .footer-list {
    flex: 4 1 75%; } }
@media (min-width: 1px) and (max-width: 740px) {
  .footer-list :first-child {
    margin-top: 1.7em; } }

/*# sourceMappingURL=main.css.map */
