<section class="footer">
  <div class="colophon">
    Meedan
  </div>
  <ul class="footer-list u-unstyled">
    <li><a href="/code.html">Open Source</a></li>
    <li>Pender</li>
    <li>Watchbot</li>
    <li>Langid</li>
  </ul>
  <ul class="footer-list u-unstyled">
    <li>Expertise</li>
    <li>Pender</li>
    <li>Watchbot</li>
    <li>Langid</li>
  </ul>
  <ul class="footer-list u-unstyled">
    <li>Language</li>
    <li>English</li>
    <li>Arabic</li>
    <li>Portuguese</li>
  </ul>
  <div class="footer-misc">
  </div>
</section>
