<section class="footer">
  <div class="colophon">
    Meedan
  </div>
  <ul class="footer-list u-unstyled">
    <li><a href="/code.html">Open Source</a></li>
    <li>Pender</li>
    <li>Watchbot</li>
    <li>Langid</li>
  </ul>
  <ul class="footer-list u-unstyled">
    <li>Expertise</li>
    <li>Pender</li>
    <li>Watchbot</li>
    <li>Langid</li>
  </ul>
  <ul class="footer-list u-unstyled">
    <li>Language</li>
    <li>English</li>
    <li>Arabic</li>
    <li>Portuguese</li>
  </ul>
  <div class="footer-misc">
  </div>
</section>
<script type="text/javascript" src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.0/anchor.min.js"></script>
<script type="text/javascript">
/**
 * AnchorJS v1.1.1 options and selector
 */

(function () {
  'use strict';

  anchors.options.placement = 'left';

  anchors.add('.content h2, .content h3, .content h4, .content h5, .content h6');

})();
</script>
